<footer class="footer-horizontal">
    <div class="container footer-content">
        <div class="footer-item">
            {% include logo.html %}
        </div>

        <div class="footer-item">
            <p>{{ site.author.address }}</p>
        </div>

        <nav class="footer-item">
            <ul class="footer-links">
                {% for item in site.data.menu %}
                    <li>
                        {% if item.is_footer %}
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="footer-item">
            {% include instagram.html %}
        </div>
    </div>
</footer>
